import /init.ril.rc

on early-boot
    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 2097152
    write /proc/sys/net/core/wmem_max 2097152

on init
    export LD_PRELOAD libshim_atomic.so

on post-fs-data
    rm /data/logcat.txt

    # Create camera directory
    mkdir /data/camera 0770 media system

    # Create power directory
    mkdir /data/power 0771 system system

on fs
# Permissions for backlight
    chmod 0660 /sys/class/backlight/panel/brightness
    chown system system /sys/class/backlight/panel/brightness

# Permissions for LCD
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system system /sys/class/lcd/panel/siop_enable
    chown system system /sys/class/lcd/panel/temperature
    chown system radio /sys/class/lcd/panel/mcd_mode
    chown system radio /sys/class/lcd/panel/power_reduce

# Light_sensor
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/name

on property:sys.boot_completed=1
    write /proc/sys/vm/dirty_bytes 41943040
    write /proc/sys/vm/dirty_background_bytes 20971520

    # Set best cache size for internal and external storages
    write /sys/block/mmcblk0/bdi/read_ahead_kb 128
    write /sys/block/mmcblk1/bdi/read_ahead_kb 2048
